@charset "utf-8";
/****************
 * @description : CMS频道皮肤1
 * @author   : jinglei  <jinglei@staff.sina.com.cn>
 * @date     : 2013-08-23
 ****************/
/*css script*/
a:hover, a:active, a:focus{color:#256aba;}
.mainNav .levelOne,.mainNav .levelTwo{ background: url(../images/top_line_6.png) no-repeat right center; background-size:12px auto}

/*header*/
.articleHead a{ color:#fff}
.articleHead .mainNav{
border-top:1px solid #3785e0;border-bottom:1px solid #3785e0;
filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#1f75db', EndColorStr='#3289f0');
background:-webkit-gradient(linear, 0 0, 0 100%, from(#1f75db), to(#3289f0));
background:-moz-linear-gradient(#1f75db, #3289f0);
background:-o-linear-gradient(#1f75db, #3289f0);
background:linear-gradient(#1f75db, #3289f0);
}
.mainNav .navLine{
border-left:1px solid #3785e0;background:#1965d5;
}
.articleHead .navGroup{
border-top:1px solid #1965d5;border-bottom:1px solid #1965d5;
filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#3289f0', EndColorStr='#2278dd');
background:-webkit-gradient(linear, 0 0, 0 100%, from(#3289f0), to(#2278dd));
background:-moz-linear-gradient(#3289f0, #2278dd);
background:-o-linear-gradient(#3289f0, #2278dd);
background:linear-gradient(#3289f0, #2278dd);
}
.articleHead .nav_center_Group{
border-top:1px solid #1965d5;border-bottom:1px solid #1965d5;
filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#3289f0', EndColorStr='#2278dd');
background:-webkit-gradient(linear, 0 0, 0 100%, from(#3289f0), to(#2278dd));
background:-moz-linear-gradient(#3289f0, #2278dd);
background:-o-linear-gradient(#3289f0, #2278dd);
background:linear-gradient(#3289f0, #2278dd);
}
.hideBottomLine {background:#3289f0;}

/*广告*/
.advertise{background:#f1f9ff;}
.advertise a{color:#256aba}

/*活动广告*/
.active_h2{background:#fefdf4; }
.active_h2 a{color:#a6946b; }

/* login area */
.w_login{background:#f4f4f4;}
a.login_btn{color:#fff; background:#256aba}
a.reg_btn{color:#b0b9bf; background:#ebebeb}

/*头条*/
.p_topline_mate a{ color:#787878;}

/*频道导航*/
.p_nav,.p_nav.fivenav,.p_nav.fournav{
background:#f4f4f4;border-top:1px solid #f4f4f4;border-bottom:1px solid #f4f4f4;
}
.p_nav_second{background:#f4f4f4;border-top:1px solid #ddd;border-bottom:1px solid #ddd;
-moz-box-shadow:inset 0px 1px 0px #fff;
-webkit-box-shadow:inset 0px 1px 0px #fff;
box-shadow:inset 0px 1px 0px #fff;
}
.p_nav_second a{ color:#888;}


/*组图*/
.swipe_num li.active{ border:1px solid #256aba; background:#58d8ff; box-shadow:0 0 4px #256aba}

/*标题TAB*/
.p_tabnav{
background:#f4f4f4;border-bottom:1px solid #d9dadc; border-top:1px solid #d9dadc; 
}
.p_tabnav span a{color:#256aba}
.p_tabnav_fr a{ color:#256aba}
.p_tabnav li.active{ background:#256aba; color:#fff}
.p_tabnum li.active{ background:#256aba;}
.p_noclick{background:#256aba; color:#fff}

/*新闻列表*/
.p_newslist_tt{background:#58aede;border:1px solid #377cce;}
.p_newslist_dj{background:#084995;border:1px solid #082d5a;}
.p_newslist_bk{border:1px solid #12b2b5;background:#62bfc4;}
.p_newslist_ch{border:1px solid #b1112b;background:#ee2e4d;}

/*更多跳转*/
.p_newsmore:hover{ background:#256aba; color:#fff}

/*搜索*/
.p_search_seclet ul li span.active{ color:#256aba}
.p_search_btn{ background-color:#256aba;}
.p_search_btn:hover{box-shadow: 0 0 5px #256aba;}
/* hot search */
.hot_search{}
.hot_search span {color:#666;}
.hot_search a{color:#7b8185;}

/*特殊模块*/
.product_wrap a{color: #256aba;}
.p_tabnav.h42 a{ color: #256aba;}
.p_noclick_rank{ color: #333;}
.p_tabnav .rank a{ color: #256aba;}

/*subject分类标题*/
.cat_tit{ background:#256aba; color:#fff}