html,body {
	padding: 0;
	margin: 0;
	overflow-x:hidden;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size:12px;
	font-family:Microsoft YaHei,华文细黑;
	min-width:320px;
	width:100%;
	height:100%
}
body,nav,dl,dt,dd,p,h1,h2,h3,h4,ul,ol,li,input,button,textarea,footer {
	margin:0;
	padding:0
}
footer{
	clear:both;
}
body {
	font:16px/1.5 Microsoft YaHei,华文细黑;
	color:#333;
	background:#fff;
	-webkit-text-size-adjust:none;
	min-width:320px;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%
}
ul,ol {
	list-style:none
}
a {
	text-decoration:none;
	color:#333
}
a:hover,a:active,a:focus {
	color:#377cce;
	text-decoration:none;
}
a:active {
	color:#aaa;
}
img {
	vertical-align:middle;
	border:0;
	-ms-interpolation-mode:bicubic;
	max-width:100%;
	height:auto;
	width:auto\9; /* ie8 */;
}
#main-content{
 padding: 0px 5px;
 background-color:#ECE7E1;
 overflow:hidden;
}
.nav-top {
	width:100%;
	margin:0;
	padding:0;	
}
.nav-top > div.logo{
	position:relative;
}
.nav-top > div.logo img{
	width:57%;
}
.nav-top .btns{
	position:absolute;
	right:7px;
	top:28%;
	z-index:90;
	width:49%;
	height:80%;
	text-align:right;
}
.nav-top .btns > span{
	display:inline-block;
}
.count{
	width:22px;
	height:22px;
	line-height:22px;
	text-align:center;
	display:block;
	font-style:italic;
}
.buy-count{
	background:url(../img/ui/count.png) no-repeat;
	width:22px;
	height:22px;
	color:#fff;
	font-size:12px;
	line-height:22px;
	position:absolute;
	top:-3px;
	right:37px;
	text-align:center;
	z-index:2;
}
.nav-content {
	overflow: hidden;
	background: url(../img/ui/bg1.png) repeat-x;
	margin: 0;
	paddign: 0;
	width: 100%;
}

.nav-border {
	float: left;
	width: 100%;
	height: 1px;
}

.nav-border-l {
	float: left;
	width: 50%;
	height: 100%;
	background: -webkit-gradient(linear, 0% 100%, 100% 100%, from(#efefef),
		to(#929292) );
	background: -webkit-linear-gradient(left, #efefef, #929292) repeat
		scroll 0 0 #efefef;
	background: -moz-linear-gradient(left, #efefef, #929292) repeat scroll 0
		0 #efefef;
	background: -ms-linear-gradient(left, #efefef, #929292) repeat scroll 0
		0 #efefef;
	background: -moz-linear-gradient(left, #efefef, #929292) repeat scroll 0
		0 #efefef;
	background: linear-gradient(left, #efefef, #929292) repeat scroll 0 0
		#efefef;
}

.nav-border-r {
	float: left;
	width: 50%;
	height: 100%;
	background: -webkit-gradient(linear, 0% 100%, 100% 100%, from(#929292),
		to(#efefef) );
	background: -webkit-linear-gradient(left, #929292, #efefef) repeat
		scroll 0 0 #efefef;
	background: -moz-linear-gradient(left, #929292, #efefef) repeat scroll 0
		0 #efefef;
	background: -ms-linear-gradient(left, #929292, #efefef) repeat scroll 0
		0 #efefef;
	background: -moz-linear-gradient(left, #929292, #efefef) repeat scroll 0
		0 #efefef;
	background: linear-gradient(left, #929292, #efefef) repeat scroll 0 0
		#efefef;
}

ul.lancome-nav {
	overflow: hidden;
	height: 35px;
	background: url(../img/ui/navbg.png) repeat-x;
	background-size: contain;
	margin: 0;
	border: 0;
	width: 100%;
}
ul.lancome-nav a{
	text-decoration: none;
	color:#000000;
}
ul.lancome-nav li {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	float: left;
	line-height: 35px;
	padding:0 5px;
	overflow: hidden;
	color: #000000;
	font-size:13px;
	font-weight:bold;
}

.nav {
	float:left;
	width:6px;
	height:35px;
	background:url(../img/ui/arrow-r.png) no-repeat;
	background-position:center;
}

.ellipsis {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.nav-menu {
	background:url(../img/ui/nav-menu.png) no-repeat;
	background-size:contain;
	width:37px;
	height:35px;
}

.nav-menu-d{
	background:url(../img/ui/nav-menu.png) no-repeat;
	background-size:contain;
	width:37px;
	height:35px;
}

.nav-login {
	background: url(../img/ui/nav-login.png) no-repeat;
	background-size:contain;
	width:37px;
	height:35px;
}

.nav-login-d {
	background: url(../img/ui/nav-login.png) no-repeat;
	background-size:contain;
	width:37px;
	height:35px;
}

.nav-bag {
	background: url(../img/ui/nav-bag.png) no-repeat;
	background-size:contain;
	width:37px;
	height:35px;
}

.nav-bag-d {
	background: url(../img/ui/nav-bag.png) no-repeat;
	background-size:contain;
	width:37px;
	height:35px;
}

.menu-right{
	background:url(../img/ui/menu-bg.jpg) repeat;
	position:absolute;
	width:125px;
	height:100%;
	left:100%;
	top:0px;
	bottom:0px;
	z-index:99;
}
.menu-right ul{
	list-style:none outside none;
	test-align:left;
	width:100%;
	padding:0;
	margin:0;
}
.menu-right ul li{
	margin:0;
	padding:0;
	width:100%;
}
.menu-right img{
	width:100%;
}
.menu-list a{
	text-decoration: none;
}
.menu-close{
	position:absolute;
	right:0px;
}

.menus {
	
}

a:link.menuItem, a:visited.menuItem, a:active.menuItem {
	float:left;
	display:inline-block;
	background-color:#000;
	color:#fff;
	width:25%;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	cursor:default;
	text-decoration:none;
}
a:link.menuItemSel, a:visited.menuItemSel, a:active.menuItemSel {
	background-color:#fff;
	color:#000;
}
.menu-products {
	float:left;
	background:url(../img/ui/nav1.png) no-repeat;
	background-size:100% 100%;
	width:25%;
	height:100%;
}
.menu-products:hover {
	background:url(../img/ui/nav1_mo.png) no-repeat;
	background-size:100% 100%;
	width:25%;
	height:100%;
}

.menu-counter {
	float:left;
	background:url(../img/ui/nav2.png) no-repeat;
	background-size:100% 100%;
	width:25%;
	height:100%;
}
.menu-counter:hover {
	background:url(../img/ui/nav2_mo.png) no-repeat;
	background-size:100% 100%;
	width:25%;
	height:100%;
}

.menu-star {
	float:left;
	background:url(../img/ui/nav3.png) no-repeat;
	background-size:100% 100%;
	width:25%;
	height:100%;
}
.menu-star:hover {
	background:url(../img/ui/nav3_mo.png) no-repeat;
	background-size:100% 100%;
	width:25%;
	height:100%;
}

.menu-search {
	float:left;
	background:url(../img/ui/nav4.png) no-repeat;
	background-size:100% 100%;
	width:25%;
	height:100%;
}
.menu-search:hover {
	background:url(../img/ui/nav4_mo.png) no-repeat;
	background-size:100% 100%;
	width:25%;
	height:100%;
}

.clear {
	clear:left;
}
.txtcenter {
	text-align:center;
}
.admessage {
	color:#ff0000;
}
.mainContent {
	background-color:#ece7e1;
}
.inputareabg {
	background:url(../img/ui/inputarea_bg.png) no-repeat;
	background-size:100% 95%;
	height:200px;
	margin:0 10px;
}
.relative {
	position:relative;
}

#search-box{
      margin: 0px;
      padding: 5px 0px;
      text-align: center;
      background-color:#000000;
	}
#search-box .search-button{
	  background:url(../img/ui/search.png) center no-repeat;
	  border:0px;
	  width: 40px;
	  height: 24px;
	  vertical-align:middle;
}

#search-box .search-text{
	width: 80%;
	height: 30px;
	font-size: 16px;
	}

 .ui-refresh {
	height: 36px;
	line-height: 36px;
	background-color: #eef0f2;
	text-align: center;
	font-size: 0;
	margin: 14px 20px;
	border: 1px solid #d2d9e0;
	}
		
.ui-refresh-pullup-label {
	font-size: 14px;
	color: #545454;
	vertical-align: middle;
}
