@charset "utf-8";
.fl {
	float:left;
}
.fr {
	float:right;
}
.hide {
	display:none;
}
.show {
	display:block;
}
.swipe {
	overflow:hidden;
	height:210px;
	position:relative;
	max-width:320px;
	margin:10px auto;
}
.swipe-wrap {
	overflow:hidden;
	position:relative;
}
.swipe-wrap > div {
	float:left;
	width:100%;
	position:relative;
}
.swipe_pic {
	position:relative;
	overflow:hidden;
	width:320px;
	height:210px;
}
.swipe_pic img {
	width:320px;
	height:160px
}
.swipe_h3 {
	position:absolute;
	left:0;
	bottom:0;
	font-size:16px;
	color:#000000;
	width:292px
}
.swipe_num {
	position:absolute;
	right:0;
	top:145px;
}
.swipe_num li {
	float:left;
	width:4px;
	height:4px;
	font-size:0;
	text-indent:999em;
	border:1px solid rgba(0,0,0,0.6);
	background:#a9a89d;
	margin:0 5px;
	overflow:hidden
}
.swipe_num li.active {
	width:4px;
	height:4px;
	border:1px solid #256aba; 
	background:#58d8ff; 
	box-shadow:0 0 4px #256aba
}