#page{
	width:100%;
	height:100%;
	background-image:url(../img/loginBg.jpg);
	background-size:100% 100%;
	margin:0px;	
	overflow:hidden;
}

.sharebtn,.exitbtn,#registerconformbtn{
	background-color:#96c974;
	float:right;
	text-align:center;
	width:25%;
	border-radius:5px;
	color:#fff;
	font-size:20px;
	height:35px;
    line-height:35px;
}

.loginbtn{
	margin-right:6%;
	float:right;
	width:40%;
}

.registerbtn{
   width:40%;
   float:left;
   margin-left:7%;
}

#registerconformbtn{
	width:30%;
	margin-right:6%;
	float:right;
	background-color:#00692b;
}

#content{
	position:relative;
	z-index:1;
	margin-bottom:5px;
	background-color:transparent;
	margin-top:40px;
	width:100%;
}

.registerfield{
	width:87%;
	border:2px solid #ddd;
	margin-left:7%;
	margin-bottom:15px;
	height:35px;
	font-size:20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.navbar{
    height:40px;
    border-bottom:1px solid #eee;
    margin-top:10px;
}

#backbtn{
	width:10%;
    float:left;
    margin-left:5px;
}

.inputhint{
	color:#666;
	width:100%;
	float:left;
	font-size:15px;
	text-indent:7%;
}

#userhello{
	margin-left:10px;
}

.exitbtn{
	float:none;
	margin-left:10px;
	margin-top:10px;
}

#navtitle{
	width:90%;
	font-size:25px;
	color:#00692b;
	text-align:center;
	line-height:40px;
}
